<!DOCTYPE html>
<html>
<head>
    <title>Страница с посещениями 🦔</title>
    <style>
        .text-block {
          position: absolute;
          bottom: 20px;
          background-color: black;
          color: white;
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
        }
        </style>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Ваше посещение записано.</p>

    <div class="text-block">
        <h4>Количество посещений</h4>
        <p>За день DAY</p>
        <p>В  месяц MONTH</p>
        <p>Всего ALL</p>
    </div>
</body>
</html>
